@import '../abstract/variables';

#botao {
   background-color: $color-accent;
   border-radius: 50%;
   bottom: 0.5rem;
   left: 85%;
   padding: 0.875rem 0.5rem;
   position: sticky;

   a {
      color: $color-tertiary;
      font-size: 0.9rem;
      text-decoration: none;
   }

   @media screen and (min-width: 48rem) {
      display: none;      
   }
}